@page
@model PartialPageUpdate.AjaxPartialModel
@{
    ViewData["Title"] = "AjaxPartial";
}



<p></p>

<h2>Ajax 1</h2>
<p><button class="btn btn-primary" id="load1">Load by Get</button></p>

<p></p>


<h2>Ajax 2</h2>
<p><button class="btn btn-primary" id="load2">Load by Post</button></p>
<p></p>


<h2>Ajax 3</h2>
<p><button class="btn btn-primary" id="new3">New by Get</button></p>
<p></p>


<h2>Ajax 4</h2>
<p><button class="btn btn-primary" id="new4">New by Post</button></p>

<h2>Ajax 6</h2>
<form id="form5" method="post">
    <input type="submit" value="New6" asp-page-handler="CarPartial6" class="btn btn-primary" />
</form>


<div id="grid"></div>

@section scripts{


    <script>
        document.getElementById('load1').addEventListener('click', () => {
            fetch('/ajaxpartial?handler=CarPartial1')
                .then((response) => {
                    return response.text();
                })
                .then((result) => {
                    document.getElementById('grid').innerHTML = result;
                });
        });

        document.getElementById('load2').addEventListener('click', () => {
            fetch('/ajaxpartial?handler=CarPartial2', {
                method: 'POST', // or 'PUT'
            })
                .then((response) => {
                    return response.text();
                })
                .then((result) => {
                    document.getElementById('grid').innerHTML = result;
                });
        });


        document.getElementById('new3').addEventListener('click', () => {
            fetch('/ajaxpartial?handler=CarPartial3')
                .then((response) => {
                    return response.text();
                })
                .then((result) => {
                    document.getElementById('grid').innerHTML = result;
                });
        });


  


        document.forms['form6'].onsubmit = () => {
            let formData = new FormData(document.forms['form6']);
            fetch('', {
                method: 'post',
                body: new URLSearchParams(formData)
            })
                .then(() => {
                    alert('Posted using Fetch');
                });
            return false;
        };
                 
    </script>
}


