@page
@model PartialPageUpdate.AjaxPartialModel
@{
    ViewData["Title"] = "AjaxPartial";
}

<h1>AjaxPartial</h1>


<partial name="_CarPartial" model="Model.Cars" />





<h2>Ajax</h2>
<p><button class="btn btn-primary" id="load">Load</button></p>

@section scripts{
    <script>
        document.getElementById('load').addEventListener('click', () => {
            fetch('/ajaxpartial?handler=CarPartial')
                .then((response) => {
                    return response.text();
                })
                .then((result) => {
                    document.getElementById('grid').innerHTML = result;
                });
        });
    </script>
}

<div id="grid"></div>